@import url('https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

:root {
    --primary-color: #d8cfbc;
    --secondary-color: #11120d;
    --text-color: #fffbf4;
    --background-color: #f9fafb;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

header {
    padding: 1rem;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

footer {
    padding: 1rem;
    margin-top: 5rem;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
}

footer p {
    font-family: 'TASA Orbiter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
}

.logo {
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

.logo span {
    font-family: 'TASA Orbiter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.nav-bar-top {
    position: fixed;
    top: 0;
    margin: 20px;
    display: flex;
    border-radius: 50px;
    justify-content: space-between;
    background-color: var(--background-color);
    color: var(--secondary-color);
    align-items: center;
    justify-content: center;
    padding: 0px 30px 0px 30px;
    z-index: 1;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 5rem;
}

.nav-li {
    font-family: 'TASA Orbiter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.nav-li a {
    text-decoration: none;
    color: var(--text-color);
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("assets/heroimage.jpg");
    background-size: cover;
    background-position: center;
    height: 700px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-title {
    font-family: 'TASA Orbiter', sans-serif;
    font-size: 4rem;
    font-weight: 800;
    width: 60%;
    margin-left: 1.5%;
    margin-bottom: 0%;
}

.hero-description {
    margin-bottom: 3%;
    font-family: 'TASA Orbiter', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    width: 30%;
    margin-left: 1.5%;
}

.hero-button {
    font-family: 'TASA Orbiter', sans-serif;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1.5%;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    padding: 15px;
}

/* Proyectos */
.projects {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects h2 {
    font-family: 'TikTok Sans', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 2rem;
}

.project {
    background-color: var(--primary-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
}

.project img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* Comienza ya */

.section-start-now {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("assets/section-form.jpg");
    background-size: cover;
    background-position: center;
    padding: 2rem;
    display: flex;
    height: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color)
}

.section-start-now h2 {
    font-family: 'TikTok Sans', sans-serif;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.start-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}

/* Comienza ya info*/

.start-info h3 {
    font-family: 'TikTok Sans', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.start-info p {
    font-family: 'TikTok Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.start-info br {
    margin-bottom: 0.9rem;
}

.start-info p span {
    font-family: 'TikTok Sans', sans-serif;
    font-size: 1rem;
    font-weight: 800;
}

/* Comienza ya form*/

.start-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

input[type="time"] {
    appearance: none;
    padding: 10px 200px 10px 20px;
    width: 100%;
}

.form input {
    font-family: 'TikTok Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
    padding: 10px 200px 10px 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-color);
}

.form input:focus {
    outline: none;
}

.form select {
    font-family: 'TikTok Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
    appearance: none;
    padding: 10px 200px 10px 20px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-color);
}

.form select option:first-child {
    display: none;
}

.form label {
    position: absolute;
    margin-left: 20px;
    font-family: 'TikTok Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.submit-button {
    font-family: 'TikTok Sans', sans-serif;
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1.5%;
    border: none;
    border-radius: 50px;
    padding: 15px 60px 15px 60px;
}

/* Aca empieza el about */
.about {
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bunisess-values {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bunisess-values hr {
    width: 40%;
    border: 1px solid #ebebeb;
}

.title-about {
    font-family: 'TikTok Sans', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.p-about {
    font-family: 'TikTok Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 2rem;
    width: 50%;
}

/* grid de valores */

.values-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    width: 90%;
}

.container-value {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: start;
    gap: 1rem;
    margin-bottom: 2rem;
}

.title-value {
    font-family: 'TikTok Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 800;
    margin-bottom: 2rem;
    margin-top: 0rem;
}

.img-value {
    width: 45px;
}

.p-value {
    font-family: 'TikTok Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

/* mision */

.mision-grid {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container-mision {
    background-image: linear-gradient(rgba(235, 235, 235, 0.5), rgba(235, 235, 235, 0.5)), url("https://static.vecteezy.com/system/resources/previews/010/176/873/non_2x/white-abstract-background-background-for-banners-pamphlets-brochures-cards-web-etc-vector.jpg");
    object-fit: fill;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title-mision {
    font-family: 'TikTok Sans', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem;
    width: 70%;
}

.p-mision {
    font-family: 'TikTok Sans', sans-serif;
    font-size: 1rem;
    text-align: left;
    font-weight: 400;
    margin-bottom: 2rem;
    width: 70%;
}

.p-mision span {
    font-weight: 800;
    font-style: italic;
}

.container-img {
    height: 600px;
}

.container-img img {
    width: 100%;
    height: 600px;
}

.row2-1 {
    order: 2;
}

.row2-2 {
    order: 1;
}

/* quienes somos*/

.quienes-somos {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.container-quienes-somos {
    width: 60%;
}

.title-quienes-somos {
    font-family: 'TikTok Sans', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
    width: 70%;
}

.p-quienes-somos {
    font-family: 'TikTok Sans', sans-serif;
    font-size: 1rem;
    text-align: left;
    font-weight: 400;
    margin-bottom: 2rem;
}

.container-carrusel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.img-carrusel {
    object-fit: cover;
    height: 600px;
    width: 400px;
    border-radius: 10px;
}

.img1 {
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    z-index: 1;
}